<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Task list</h1>
    <ul>
        {% for task in tasks %}
        <li>
            <a href="{% url 'task_detail' task.id %}"></a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'task_create' %}">Add new task</a>
</body>
</html>